<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sticfit3.sticfit3" >

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/url2"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name=".ApplicationContextProvider">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Exe"
            android:label="Séance" >
        </activity>
        <activity
            android:name=".Parametre"
            android:label="Paramètres"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="sticfit3.sticfit3.MainActivity" />
        </activity>

        <activity
            android:name=".Historique"
            android:label="Historique"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="sticfit3.sticfit3.MainActivity" />

        </activity>
        <activity
            android:name=".ListExercice"
            android:label="Liste exercices"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="sticfit3.sticfit3.MainActivity" />

        </activity>

        <activity
            android:name=".Info"
            android:label="Informations"
            android:parentActivityName=".Parametre" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="sticfit3.sticfit3.Parametre" />

        </activity>

        <activity
            android:name=".InfoPerso"
            android:label="Mon profil"
            android:parentActivityName=".Parametre" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="sticfit3.sticfit3.Parametre" />

        </activity>
        <activity
            android:name=".ModifPerso"
            android:label="Modifier Profil"
            android:parentActivityName=".InfoPerso" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="sticfit3.sticfit3.InfoPerso" />

        </activity>
        <activity
            android:name=".DetailHisto"
            android:label="Détail séance"
            android:parentActivityName=".Historique" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="sticfit3.sticfit3.Historique" />

        </activity>

        <activity
            android:name=".ExePerso"
            android:label="Exercice personnalisé"
            android:parentActivityName=".ListExercice" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="sticfit3.sticfit3.ListExercice" />

        </activity>


    </application>

</manifest>
